input::placeholder {
  color: #777;
}

.App {
  text-align: center;
  color: #484848;
  background-color: #fff;
}

.App .action-button {
  border: 0;
  outline: none;
  background: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.4rem;
  white-space: nowrap;
  word-wrap: break-word;
  font-size: 1.3rem;
  font-weight: 650;
  height: 4rem;
  width: auto;
  padding: 0 1rem;
}
.App .action-button:hover {
  cursor: pointer;
}

.App .action-button .action-button-icon {
  height: auto;
  width: 1.2rem;
}
