.NavBar {
  /* position: sticky;
  top: -100px;
  transition: top 0.5s ease-in 0.2s; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in 0.2s;
}

.toggle-nav-in {
  /* top: 0;
  transition: top 0.5s ease-in 0.2s; */
  transform: translateY(0);
  transition: transform 0.5s ease-in 0.2s;
}

.NavBar .nav-section {
  border-bottom: 1px solid rgb(226, 226, 226);
}

.NavBar .nav-sec-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  padding-right: 1rem;
  position: relative;
  background-color: #fff;
}

.NavBar .duplicate-logo-and-input {
  border: none;
}

.NavBar .brand-box {
  display: flex;
  flex-direction: row;
  max-height: 100%;
  z-index: 10001;
}

.NavBar .brand-box img {
  height: 55px;
  min-width: 100%;
}

.NavBar .search-box {
  flex: 1;
  display: flex;
  align-self: stretch;
  justify-content: flex-start;
  margin-right: 1.5rem;
  margin-left: 2rem;
}

.NavBar .duplicate-logo-and-input .search-box {
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.NavBar .search-box-content {
  cursor: pointer;
  display: flex;
  align-items: center;
  align-self: center;
  height: 75%;
  border-bottom: 1px solid #000;
}

.NavBar .duplicate-logo-and-input .search-box-content {
  cursor: auto;
}

.NavBar .search-box-content:hover {
  border-bottom: 1px solid #e60012;
}

.NavBar .search-box-content:hover .searchfield::placeholder,
.NavBar .search-box-content:hover .search-icon {
  color: #e60012;
}

.NavBar .duplicate-logo-and-input .search-box-content {
  border-bottom: 1px solid #e60012;
}

.NavBar
  .duplicate-logo-and-input
  .search-box-content:hover
  .searchfield::placeholder {
  color: #777;
}

.NavBar .searchlabel {
  margin: 0;
  margin-right: 0.5rem;
  height: 100%;
}

.NavBar .search-icon {
  height: 100%;
  width: 1.2rem;
}

.NavBar .duplicate-logo-and-input .search-icon {
  color: #e60012;
}

.NavBar .searchfield {
  cursor: pointer;
  border: 0;
  padding: 0;
  width: 100%;
}

.NavBar .duplicate-logo-and-input .searchfield {
  cursor: text;
}

.NavBar .searchfield:focus {
  outline: none;
}

.NavBar .searchfield::placeholder {
  pointer-events: none;
  font-size: 0.9rem;
}

.NavBar .search-assist {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.NavBar .search-assist .overlay-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  background-color: #000;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
}

.NavBar .search-assist-content {
  position: relative;
  background-color: #fff;
  z-index: 2;
  transform-origin: center top;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out;
}

.NavBar .close-search-btn {
  height: 75%;
  align-self: center;
  display: inline-flex;
  align-items: center;
  color: #888;
  margin-left: 0.5rem;
}
.NavBar .close-search-btn:hover {
  cursor: pointer;
  color: #e60012;
}

.NavBar .close-search-icon {
  height: 100%;
  width: 1.2rem;
}

.NavBar .search-suggestion-box {
  display: flex;
  padding-left: 200px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0.2s;
  max-height: 80vh;
  /* width: 100%; */
  overflow-y: auto;
}

.NavBar .quick-links {
  display: flex;
  align-items: flex-start;
}

.NavBar .suggestions {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.9rem;
  padding: 1rem 0;
  margin: 0 1.5rem;
  min-width: 7rem;
}

.NavBar .suggestion-title,
.NavBar .link-cards-title {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.NavBar .suggestion-link {
  font-weight: 600;
  color: #e60012;
  padding: 0.1rem 0;
}

.NavBar .suggestion-link p {
  margin: 0;
}

.NavBar .link-cards {
  padding: 1rem 0;
  margin: 0 1.5rem;
}

.NavBar .link-cards .link-tiles {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 1rem;
  margin-right: 1rem;
  flex-wrap: wrap;
}

.NavBar .link-cards .tile {
  /* HEIGHT = max 3 lines of text, 120% line-height each line and padding of the tile */
  height: calc((1.25rem * 3) + (3.75rem * 1.2) + 1.6rem);
  border-radius: 0.3rem;
  padding: 1.6rem 0;
  color: #484848;
  font-weight: 600;
  z-index: 10002;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 200px;
}

.NavBar .link-cards .yellow-tile {
  background-color: #fed400;
  border: 1px solid #fed400;
}
.NavBar .link-cards .yellow-tile:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px 0.1px #fed400, 0px -1px 1px 0.1px #fed400,
    1px 0px 1px 0.1px #fed400, -1px 0px 1px 0.1px #fed400;
}
.NavBar .link-cards .yellow-tile:hover .tile-name {
  filter: brightness(98%);
  text-decoration: underline;
  text-decoration-color: #fed400;
}
.NavBar .link-cards .yellow-tile .tile-icon {
  border: 1px solid #fed400;
}

.NavBar .link-cards .blue-tile {
  background-color: #00b0ec;
  border: 1px solid #00b0ec;
}
.NavBar .link-cards .blue-tile:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px 0.1px #00b0ec, 0px -1px 1px 0.1px #00b0ec,
    1px 0px 1px 0.1px #00b0ec, -1px 0px 1px 0.1px #00b0ec;
}
.NavBar .link-cards .blue-tile:hover .tile-name {
  filter: brightness(98%);
  text-decoration: underline;
  text-decoration-color: #00b0ec;
}
.NavBar .link-cards .blue-tile .tile-icon {
  border: 1px solid #00b0ec;
}

.NavBar .link-cards .red-tile {
  background-color: #e60012;
  border: 1px solid #e60012;
}
.NavBar .link-cards .red-tile:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px 0.1px #e60012, 0px -1px 1px 0.1px #e60012,
    1px 0px 1px 0.1px #e60012, -1px 0px 1px 0.1px #e60012;
}
.NavBar .link-cards .red-tile:hover .tile-name {
  filter: brightness(98%);
  text-decoration: underline;
  text-decoration-color: #e60012;
}
.NavBar .link-cards .red-tile .tile-icon {
  border: 1px solid #e60012;
}

.NavBar .link-cards .tile-name {
  position: relative;
  font-size: 1.25rem;
  background-color: #fff;
  padding: 1rem 3rem;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavBar .link-cards .tile-icon {
  background-color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.25rem;
  line-height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 50%;
  font-weight: 600;
  transform: translateY(-50%);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.NavBar .nav-btn-box {
  height: 100%;
}

.NavBar .my-nav-btn {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 0.9rem;
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 0.25rem;
}

.NavBar .my-nav-btn:hover {
  color: #e60012;
}

.NavBar .nav-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}

.NavBar .nav-btn-icon {
  height: 100%;
  width: 1.2rem;
  margin-right: 0.5rem;
}

.NavBar .nav-sec-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  position: relative;
}

.NavBar .nav-sec-2-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  height: auto;
}

.NavBar .nav-sec-2-content .my-nav-btn {
  padding: 0.5rem 0;
  height: auto;
}

.NavBar .nav-sec-2 .can-expand {
  cursor: pointer;
}

.NavBar .nav-sec-2 .can-expand .expand-nav-btn {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  font-weight: 600;
  height: 100%;
  display: flex;
  align-items: center;
}

.NavBar .nav-sec-2 .nav-sec-2-btn-icon {
  margin: 0 0 0 0.5rem;
  font-size: 1.2rem;
}

.NavBar .nav-sec-2 .prefix-icon {
  margin: 0 0.5rem 0 0;
  font-size: 1.2rem;
}

.NavBar .expanded-nav {
  cursor: auto;
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem 0;
}

.NavBar .nav-sec-2 .expdnav-content {
  position: relative;
  color: #484848;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  margin: 0 2rem;
}

.NavBar .nav-sec-2 .expdnav-item {
  min-width: 120px;
  cursor: pointer;
  color: inherit;
}

.NavBar .nav-sec-2 .expdnav-item:hover {
  color: #e60012;
}
.NavBar .nav-sec-2 .expdnav-item:hover .expdnav-btn {
  background-color: #e60012;
  color: #e60012;
}
.NavBar .nav-sec-2 .expdnav-item:hover .expdnav-btn-icon {
  color: #fff;
}

.NavBar .nav-sec-2 .expdnav-btn {
  outline: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 120px;
  font-size: 2.5rem;
  line-height: 3rem;
  padding: 0.75rem 0;
  border: 1px solid #dadada;
  border-radius: 0.5rem;
  background-color: #fff;
}

.NavBar .nav-sec-2 .expdnav-btn-icon {
  color: #484848;
}

.NavBar .nav-sec-2 .switch-img-btn {
  padding: 0;
  /* calc total width of image together with padding */
  width: calc(240px + 1rem);
  /* same height as icon buttons with total border 2px */
  height: calc(4rem + 2px);
}

.NavBar .nav-sec-2 .accs-img-btn {
  padding: 0;
  /* calc total width of image together with padding */
  width: calc(104px + 1rem);
  /* same height as icon buttons with total border 2px */
  height: calc(4rem + 2px);
}

.NavBar .nav-sec-2 .amiibo-img-btn {
  padding: 0;
  /* calc total width of image together with padding */
  width: calc(104px + 1rem);
  /* same height as icon buttons with total border 2px */
  height: calc(4rem + 2px);
}

.NavBar .nav-sec-2 .expdnav-btn img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  object-fit: contain;
}

.NavBar .nav-sec-2 .expdnav-btn-label {
  margin: 0.5rem 0 0 0;
  word-wrap: break-word;
}

.NavBar .nav-sec-2 .expdnav-close-btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
}

.NavBar .nav-sec-2 .expdnav-close-btn:hover {
  cursor: pointer;
  color: #e60012;
}

.NavBar .nav-sec-1 .mobile-nav-toggler .my-nav-btn:hover {
  color: inherit;
}

@media only screen and (max-width: 768px) {
  .NavBar .side-nav-backdrop {
    width: 100%;
    height: 200vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.3s linear;
  }

  .NavBar .nav-sec-1 {
    justify-content: space-between;
    padding-right: 0;
  }

  .NavBar .nav-sec-1 .duplicate-logo-and-input {
    padding: 0;
  }

  .NavBar .nav-sec-1 .duplicate-logo-and-input .brand-box img {
    width: 0;
  }

  .NavBar .search-box {
    z-index: 10002;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .NavBar .search-suggestion-box {
    padding: 0;
  }

  .NavBar .search-suggestion-box .quick-links {
    flex-wrap: wrap;
  }

  .NavBar .search-suggestion-box .suggestions {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .NavBar .search-suggestion-box .suggestion-link:nth-child(n + 5) {
    display: none;
  }

  .NavBar .search-suggestion-box .suggestion-link {
    min-width: 50%;
    padding-right: 1rem;
  }

  .NavBar .search-suggestion-box .suggestion-title {
    flex: 1 1 100%;
  }

  .NavBar .search-suggestion-box .link-tiles {
    margin: 0;
  }

  .NavBar .search-suggestion-box .link-tiles .tile {
    flex: 1 1 0px;
  }

  .NavBar .search-suggestion-box .link-tiles .red-tile {
    flex: 1 1 100%;
  }

  .NavBar .nav-sec-2,
  .NavBar .nav-sec-2-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .NavBar .nav-sec-2 {
    height: 200vh;
    width: 20rem;
    max-width: 100%;
    position: fixed;
    top: 55px;
    right: 0;
    background-color: #f4f4f4;
    justify-content: flex-start;
    transform: translateX(0);
    transition: transform 0.3s linear;
  }

  .NavBar .nav-sec-2 .my-nav-btn {
    padding: 1rem;
  }

  .NavBar .nav-sec-2 .can-expand {
    padding: 0;
    flex-direction: column;
  }

  .NavBar .nav-sec-2 .can-expand .expand-nav-btn {
    width: 100%;
    justify-content: flex-start;
    padding: 1rem;
  }

  .NavBar .nav-sec-2 .expand-nav-btn-label {
    flex: 1 1 0px;
    text-align: left;
  }

  .NavBar .nav-sec-2 .prefix-icon {
    width: 2rem;
    text-align: right;
  }

  .NavBar .event-based-nav-btn span {
    padding-left: 2.5rem;
  }

  .NavBar .nav-sec-2 .can-expand {
    border-bottom: 0 !important;
  }

  .NavBar .nav-sec-2 .expanded-nav {
    position: relative;
    top: 0;
    background-color: transparent;
    padding: 0.5rem 1rem 1.5rem 1rem;
  }

  .NavBar .nav-sec-2 .expdnav-content {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    gap: 1rem;
  }

  .NavBar .nav-sec-2 .expdnav-item {
    min-width: calc(50% - 1rem);
  }

  .NavBar .nav-sec-2 .switch-img-btn-container {
    flex: 1 1 100%;
  }

  .NavBar .nav-sec-2 .expdnav-item .expdnav-btn {
    width: 100%;
  }
}
